opencv-python-headless
datetime
deprecation
geopandas
matplotlib
numpy
openmeteo_requests
osmnx
pandas
pathlib
pdfkit
requests_cache
retry_requests
scipy
shap
shapely
streamlit
streamlit_authenticator
typing
xgboost
wkhtmltopdf
